@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="color:cornflowerblue">Blog's List</h1>
<a style="margin:20px 0px " asp-action="Create" class="btn btn-primary">Create New Blog <i class="far fa-plus-square"></i></a>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
            <table class="table mb-0" ">
                        
                    <thead class="table-light">
                        <tr>
                            <th>Image Path</th>
                            <th>Posted By</th>
                            <th>Post Time</th>
                            <th>Decs</th>
                            <th>Comment Count</th>
                            <th>Blog Catagory Id</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                @foreach (var blog in Model)
                {
                    <tbody>
                        <tr>
                            <td> <img width="150px" src="@blog.ImagePath" alt="section-title"></td>
                                <td>@blog.PostedBy</td>
                            <td>@blog.PostTime.ToString("dd MMMM, yyyy");</td>
                                <td>@blog.Comment</td>
                                <td>@blog.CommentCount</td>
                                <td>@blog.BlogCatagoryId</td>
                            <td>
                                <button style="display:flex;gap:5px ;align-items:center" class="btn btn-warning">Edit <i class="fas fa-edit"></i></button>
                            </td> 
                            <td>
                                <button style="display:flex;gap:5px;align-items:center" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                }
                </table>
            </div>

        </div>
    </div>
