@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<h1 style="color:cornflowerblue">Blog's List</h1>
<a style="margin:20px 0px " asp-action="Create" class="btn btn-primary">Create New Blog <i class="far fa-plus-square"></i></a>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Image Path</th>
                        <th>Posted By</th>
                        <th>Post Time</th>
                        <th>Decs</th>
                        <th>Comment Count</th>
                        <th>Blog Catagory </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @{
                     var  orderedBlogs = Model.OrderByDescending(blog => blog.PostTime);
                }

                @foreach (var blog in orderedBlogs)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@count</th>
                            <td><img width="150" src="@blog.ImagePath" alt="section-title"></td>
                            <td>@blog.PostedBy</td>
                            <td>@blog.PostTime.ToString("dd MMMM, yyyy")</td>
                            <td>@blog.Comment</td>
                            <td>@blog.CommentCount</td>
                            <td>@blog.BlogCatagory.Catagory</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@blog.Id" style="display:flex;align-items:center; gap: 10px; max-width: max-content;" class="btn btn-warning">Edit <i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@blog.Id" style="display:flex;align-items:center;gap: 10px; max-width: max-content;" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    count++;
                }



            </table>
        </div>

    </div>
</div>