@using HomeEdu.UI.Areas.Admin.ViewModels.TestimoniaViewModel

@model NoticeBoard
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Update", "NoticeBoard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Detail)
        @Html.TextBoxFor(model => model.Detail, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Detail)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Time)
        @{
            DateTime minDateTime = DateTime.Now.AddHours(24);
            string minDateTimeString = minDateTime.ToString("yyyy-MM-ddTHH:mm");
        }
        @Html.TextBoxFor(model => model.Time, new { @class = "form-control", type = "datetime-local", min = minDateTimeString })
        @Html.ValidationMessageFor(model => model.Time)
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-area="Admin" asp-controller="NoticeBoard" asp-action="Index" class="btn btn-light waves-effect">Back to list</a>
}



