@model IEnumerable<Teachers>
@{
    ViewData["Title"] = "GetTeachers";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}
<h1 style="color:cornflowerblue">Teachers's List</h1>
<a style="margin:20px 0px " asp-action="Addteacher" class="btn btn-primary">Add new Teacher<i class="far fa-plus-square"></i></a>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Image </th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Profession</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var Teacher in Model)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@count</th>
                            <td><img width="150" src="\@(Teacher?.ImagePath)" alt="section-title"></td>
                            <td>@(Teacher?.Name)</td>
                            <td>@(Teacher?.Surname)</td>
                            <td>@(Teacher?.Profession)</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@(Teacher?.Id)" style="display:flex;align-items:center; gap: 10px; max-width: max-content;" class="btn btn-warning">Edit <i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@(Teacher?.Id)" style="display:flex;align-items:center;gap: 10px; max-width: max-content;" class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@(@Teacher?.Id)" style="display:flex;align-items:center;gap: 10px; max-width: max-content;" class="btn btn-success">Details<i class="fas bx bxs-detail"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    count++;
                }
            </table>
        </div>
    </div>
</div>

